* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body {
 height: 100vh;
 display: flex;
 background-color: #060480;

}

.container {
 height: 300px;
 width: 300px;
 margin: auto;
 background: rgb(238, 238, 238);
 display: flex;
 flex-direction: column;
 border-radius: 10px;
 padding: 20px;
 text-align: center;
 box-shadow: 0.5rem 0.5rem 1rem grey;
}

.container * {
 margin-bottom: 0.8rem;
}
.logo1 > span{
    display: inline-block;
    margin-left: 1px;
}

.logo1>img{
    border-radius: 20px;
}
input {
 padding: 3px;
}

button {
 padding: 5px;
 border-radius: 4px;
 border: none;
 background: #060480;
 color: white;
 width: 6.5rem;
 box-shadow: 0.5rem 0.2rem 1rem lightgreen;
}